body {
    padding: 10px;

    text-align: center;
    font-family: cursive;

    vertical-align: middle;
}

.grid-container{
    padding: 10px;
    /* border: 1px solid black; */

    display: grid;
    grid-template-areas:
        "header header"
        "left right";

    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 60%;

    justify-content: center;

    grid-gap: 10px;
}

.grid-item{
    border: 1px solid black;
    text-align: center;
}

#header {
    grid-area: header;
    border: 1px solid black;
    height: 50px;
    width: 100%;
}
#heading{
    font-size: 30px;
    position: fixed;
    top: 3%;
    right: 46%;
}


#left {
    grid-area: left;
    border: 1px solid black;
}

#right {
    grid-area: right;
    border: 1px solid black;
}

#input-box{
    padding: 10px;
    margin: 20px;

    /* position: fixed; */
    right: 17%;
    bottom: 40%;
}

.para-style {
    min-width: 300px;
    max-width: fit-content;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}

input{
    height: 25px;
    min-width: 200px;
    max-width: fit-content;
}
#plus{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

button {
    height: 22px;
    width: 22px;
    float: right;
}

#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
