*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    /* background-color: white; */
    color: #5385f9;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    /* background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,1)),url("https://media.istockphoto.com/photos/to-do-list-picture-id1293850746?b=1&k=20&m=1293850746&s=170667a&w=0&h=-U81sV0dSXTFfGnyMakG5PMyiGTHaPIqFvLv_1zGN2k="); */
    background-color: #0F131E;
    background-size:cover;
    text-align: center;
    /* height: 100vh;
    width: 100vw; */
    overflow-x: hidden;
    background-position: center;
}


.container{
    width: 80%;
    /* height: 80vh; */
    padding-top: 50px;

    margin: 50px auto 50px auto;
    margin-bottom: 500px;
}

#heading{
    margin-top: 50px;
    font-size: 200%;
    margin-bottom: 50px;
}

#input-box{
    width: 50%;
    float: left;
    padding: 0;
}

::placeholder {
    color: #5385f9;
}

#input{
    color: #5385f9;
    vertical-align: middle;
    margin:auto 0px auto 0px;
    margin-right: 5px;
    font-size: 12px;
    font-size: max(12px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #d5d7dd;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }

  #plus{
    border: #5385f9 2px solid;
    margin:0;
  }
.toDoContainer{
    width: 50%;
    float: right;
    background-color: #d5d7dd;
    border-radius: 15px;
    padding: 25px;
}

#list{
    list-style: none;

}

.del-btn{
    background: none;
    float: right;
}

hr{
    margin: 5px auto 5px auto;
    width: 80%;
    text-align: center;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.footer{
    background-color: 	#303030;
    overflow:hidden;
    padding: 60px 30px;
    text-align: center;
    color:#888888;
}
.footer-nav{
    margin-left:10px;
    display: block;
    float: left;
}
.social-media{
   font-size: 140%;
   position: absolute;
   right: 50px;
}
.copyright{
    text-align: center ;
    padding-top: 20px;
}
.copyright p{
    margin-top: 50px;
    line-height: 1.5;
}

/* Media Query */
@media only screen and (max-width:750px) 
{
    #input-box{
        width: 100%;
        float: none;
        display: block;
        padding: 0;
        margin-bottom: 50px;
        /* background-color: yellow; */
    }

    .toDoContainer{
        width:100%;
        float: none;
        display: block;
    }

    .container{
        margin-bottom: 50px;

    }
}
